.body {
  background: linear-gradient(#05010180, #0000007a),
    url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
}
.search-bar {
  position: relative;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  background: transparent !important;
}
.quote-container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  overflow-y: auto;
}

.quote-container blockquote {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-size: 2em;
}
.quote-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
  color: #222;
  margin-top: 2em;
}

.quote-container i {
  color: #666;
  font-size: 1em;
  position: relative;
  top: -10px;
}

.carousel-control-next-icon {
  position: absolute;
  right: 0%;
}
.carousel-control-prev-icon {
  position: absolute;
  left: 0%;
}

@media screen and (max-width: 1300px) {
  .quote-container {
    margin-top: 150px;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 550px) {
  .quote-container {
    margin-top: 150px;
    font-size: 0.7em;
    text-align: justify;
    width: fit-content;
    height: fit-content;
  }
}
